<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="info.schnatterer.pmcaFilesystemServer" >

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application android:label="@string/app_name"
                 tools:ignore="GoogleAppIndexingWarning">
        <receiver android:name="com.github.ma1co.pmcademo.app.ExitCompletedReceiver" >
            <intent-filter>
                <action android:name="com.android.server.DAConnectionManagerService.ExitCompleted" />
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.github.ma1co.pmcademo.app.BootCompletedReceiver" >
            <intent-filter>
                <action android:name="com.android.server.DAConnectionManagerService.BootCompleted" />
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.github.ma1co.pmcademo.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.github.ma1co.pmcademo.app.WifiActivity"
            android:label="@string/title_activity_wifi" >
        </activity>
        <activity
            android:name="com.github.ma1co.pmcademo.app.WifiSettingActivity"
            android:label="@string/title_activity_wifi_setting" >
        </activity>
        <activity
            android:name="com.github.ma1co.pmcademo.app.WifiDirectActivity"
            android:label="@string/title_activity_wifi_direct" >
        </activity>
        <activity
            android:name="com.github.ma1co.pmcademo.app.PropertyActivity"
            android:label="@string/title_activity_property" >
        </activity>
        <activity
            android:name="com.github.ma1co.pmcademo.app.DisplayActivity"
            android:label="@string/title_activity_display" >
        </activity>
    </application>

</manifest>
